/* -------------------Body Start ----------------------------------*/
#main_section {
  background-color: #161616;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.body {
  background-color: #161616;
}
.hero-body{
  height:100vh;
  overflow: hidden;
}

.black {
  background-color: #161616!important;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.column{
  padding:7.75rem;
}

.center {
  margin: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.background_img {
text-align: center;
padding: 15%,10%,0,10%;
border-radius: 8px;
width: 86vw;
max-height: 86vh;
}

.background_img2 {
  display: none;
  }

  /* ----------TABLET BREAKPOINT------------ */
@media screen and (max-width: 900px) {
  .background_img2 {
  display: flex;
  text-align: center;
  padding: 15%,10%,0,10%;
  border-radius: 8px;
  max-width: 86vw;
  max-height: 86vh;
  
}
  }

@media screen and (max-width: 900px) {
  .background_img {
  display: none;
    
  }
}

.background_img3 {
  display: none;
  }

  /* ----------MOBILE BREAKPOINT------------ */
@media screen and (max-width: 500px) {
  .background_img2 {
  display: none;
      
  }
}
@media screen and (max-width: 500px) {
  .background_img {
  display: none;
      
  }
}
  
@media screen and (max-width: 500px) {
.background_img3 {
  display: flex;
  text-align: center;
  padding: 15%,10%,0,10%;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
  }
}

/* -------------------Body Ends ----------------------------------*/


/* -------------------Text Start ----------------------------------*/
.centered_text {
  position: absolute;
  font-size: 64px;
  width: 835px;
  color: white;
  line-height: 69.44px;
  font-family: MADE Outer Sans;
  text-transform: uppercase;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .centered_text {
    font-size: 6vw;
    text-transform: uppercase;
    max-width: 70vw;
    font-weight: bold;
    
    top: 50%;
    left: 50%;
    line-height: 108.5%;
    
  }
}

/* ----------MOBILE BREAKPOINT------------ */
@media screen and (max-width: 500px) {
  .centered_text {
    font-size: 6vw;
    text-transform: uppercase;
    max-width: 50vw;
    font-weight: bold;
    display: block;
    
    top: 50%;
    left: 50%;
    line-height: 108.5%;
    
  }
}

h1 {
  position: absolute;
  font-size: 64px;
  width: 835px;
  color: white;
  line-height: 69.44px;
  font-family: MADE Outer Sans;
  text-transform: uppercase;
  font-weight: bold;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------Text Ends ----------------------------------*/

/* -------------------Buttons Start ----------------------------------*/
.btn-space{
  margin-right: 40px;
  margin-left: 40px;
}


.buttons {
  padding-top: 70px;
  text-align: center;

}


@media screen and (max-width: 900px) {
  .buttons {
    padding-top: 30px;
    display: block !important;
    
  }
}

  /* ----------MOBILE BREAKPOINT------------ */
@media screen and (max-width: 500px) {
  .buttons {
    padding-top: 30px;
    display: block !important;
    max-width: 40vw;
    
    
    
  }
}
.button1{
  width:100%!important;
  background-color: #D0F634 !important;
  font-family: MADE Outer Sans !important;
  font-size: 25px !important;
  font-weight: bold !important;
}
.button1:hover {
  background-color: #BBD065 !important;
  color:black !important;
}
.button {
  background-color: #D0F634 !important;
  font-family: MADE Outer Sans !important;
  width: 180px !important;
  text-transform: capitalize;
  font-size: 25px !important;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  font-weight: bold !important;
  color: #161616 !important;
}
.button:hover {
  background-color: #BBD065 !important;
  color:black !important;
}

@media screen and (max-width: 900px) {
  .button {
    font-size: 3vw!important;
    font-weight: bold !important;
    width: 27vw !important;
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: auto;
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  .button {
    font-size: 3vw!important;
    font-weight: bold !important;
    width: 27vw !important;
    padding-top: 3vw;
    padding-bottom: 3vw;
    height: auto;
    margin: 10px;
  }
}






/* -------------------Buttons End ----------------------------------*/

/* -------------------Footer Start ----------------------------------*/
.footer {
  background-color: #161616;
  text-align: right;
}

.footer_text {
  color: white;
  padding-top: 5px;
  font-family: IBM Plex Mono;
  font-weight: Bold;
  font-size: 10px;

}

@media screen and (max-width: 900px) {
  .footer_text{
    padding-top: 20px;
    font-size: 6px;
  }
}
@media screen and (max-width: 900px) {
  .footer{
    text-align: center;
  }
}




/* -------------------Footer Ends ----------------------------------*/