<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SkiErg Workout - Recovery Day</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=MADE+Outer+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=MADE+Outer+Sans+Outline&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap" rel="stylesheet">

    <!-- Awesome Fonts icons -->
    <script src="https://kit.fontawesome.com/221a32fa16.js" crossorigin="anonymous"></script>

    <!-- stylesheets -->
    <link href="C:\Users\oni79\Desktop\Exeter College Course\Final Project\Website Code\workout_pages\css\main.css" rel="stylesheet" />

</head>
<section id="main_section">

    <body>
        <div class="container">
            <div class="center">
                <img class="background_img" src="C:\Users\oni79\Desktop\Exeter College Course\Final Project\Website Code\workout_pages\images\SKIerg.jpg" alt="background-image" width="1260px">
                <img class="background_img2" src="C:\Users\oni79\Desktop\Exeter College Course\Final Project\Website Code\workout_pages\images\SKIerg TABLET.jpg" alt="background-image" width="706px">
                <img class="background_img3" src="C:\Users\oni79\Desktop\Exeter College Course\Final Project\Website Code\workout_pages\images\SKIerg MOBILE.jpg" alt="background-image" width="346px">
                <div class="centered_text_outline">
                    <div class="top_icon"><a style="text-decoration:none"
                            href="C:\Users\oni79\Desktop\Exeter College Course\Final Project\Website Code\index.html"
                            class="fa-solid fa-house fa-2xs"></a></div>
                    SkiErg
                    <div class="container-fluid workout_cont vertical-scroll">
                        <h3>recovery day</h3>
                        <div class="line"></div>
                        <dl>
                            <dt class="bold_text">3 Rounds, For Calories in 34 minutes </dt>
                            <dt>2 minutes Air Bike</dt> 
                            <dt>2 minutes Rest</dt> 
                            <dt>2 minutes Row</dt> 
                            <dt>2 minutes Rest</dt> 
                            <dt> 2 minutes SkiErg</dt> 
                            <dt> 2 minutes Rest</dt>
                        </dl>
                    </div>
                    <a href="C:\Users\oni79\Desktop\Exeter College Course\Final Project\Website Code\workout_lists\ski_workout_list.html"><h4>BACK</h4></a>
                </div>
                <div class="footer">
                    <h1 class="footer_text">© Copyright Ruben Simoes 2022</h1>
                </div>
            </div>
    </body>
</section>

</html>